{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article
                class="{{post_class}} no-image single-post">
                {{> post-media single=true image=false with_caption=false }}
                {{#unless feature_image}}
                    {{> post-header single=true number_date=true show_tags=true}}
                {{/unless}}
                <div class="post-content gh-content kg-canvas">
                    {{content}}
                </div>
                {{#if @custom.show_share_links}}
                    {{> share}}
                {{/if}}
            </article>
            {{#if @custom.show_author}}
                {{> author}}
            {{/if}}
        {{/post}}
        {{#if @custom.show_related_posts}}
            {{> related}}
        {{/if}}
        {{> comment}}
    </main>
</div>