.term {
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
}

.term-name {
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 800;
}


.has-serif-title .term-name {
    font-family: var(--font-serif);
}

.emoji-divider {
    font-size:140%;
}

@media (max-width: 767px) {
    .term {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .term-name {
        font-size: 24px;
    }
}
